/* google font */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* tailwind css  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body and  Scroll */
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #9c9794;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(216, 163, 163);
}

/* add padding to all className contain container */
.container {
  padding: 1rem 6rem;
  font-family: "Cormorant Upright", serif;
}
/* team in home*/
.app__home-team {
  display: flex;
  flex-direction: column;
  height: 130vh;
}

/* all images */
img {
  object-fit: cover;
  height: 250px;
  width: 230px;
  box-shadow: 2px 2px 12px rgb(176, 176, 176);
}

